<div class="header">
    <div class="container">
        <header class="container--header container-main">
            <div class="header--div">
                <a class="header--logo" href="#">icecream</a>
                <nav>
                    <div class="header--burger">burger</div>
                    <ul class="header--nav">
                        <li class="header--nav-el"><a href="#">Home</a></li>
                        <li class="header--nav-el"><a href="#">About us</a></li>
                        <li class="header--nav-el"><a href="#">How it is made?</a></li>
                        <li class="header--nav-el"><a href="#">Our products</a></li>
                        <li class="header--nav-el"><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <button class="header--button" type="button">Buy now</button>
            </div>
            <div class="hero">
                    <!-- <div class="header--round"></div>
                    <div class="header--ice"></div>
                    <div class="header--girl"></div> -->
                <h1 class="hero--title">ice cream made with <span>passion</span></h1>
                <ul class="hero--buttons">
                    <li class="hero--buttons-el"><button type="button">Products</button></li>
                    <li class="hero--buttons-el"><button type="button">How it is made?</button></li>
                </ul>

                <div class="hero--info">
                    <div class="hero--info-milk"></div>
                    <div>
                        <p class="hero--info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et</p>
                        <div class="hero--info-s"></div>                  
                    </div>
                </div>
                <div class="hero--num">
                    <ul>
                        <li><span>16</span> cafes</li>
                        <li><span>23</span> food trucks</li>
                    </ul>
                </div>
            </div>
            
        </header>
    </div>
</div>